
.head{
    margin-bottom:30px
}
.pjct-center{
  text-align: center;
  margin-top:100px
}

h4{
    margin-top:10px;
}

.pjct-space{
    margin-top:30px;
    color:lightskyblue;
}
li{
    margin-bottom: 10px;
   
}